:root {
  --primary: #062f66;
  --secondary: #ef8696;
  /* --tertiary: #723d46; */
  --tertiary: #8d4a55;
  --light: #d7e3ef;
  --medium: #6985c0;
  --dark: #366aac;
  --error: rgb(228, 46, 1);
  --spacing-one: calc(1rem * 0.5);
  --spacing-two: calc(1rem);
}
.review {
  border: #f3a847 solid 2px;
  border-radius: 5px;
  max-width: 60%;
}
* {
  box-sizing: border-box;
}

html,
body {
  min-height: 100%;
}
div.intro {
  font-family: "Scope One", sans-serif;
  font-size: 1.75rem;
  border: #f3a847 4px solid;
  font-weight: bold;
  max-width: 70%;
  margin-bottom: 10px;
}
div.a {
  position: relative;
  width: 400px;
  height: 200px;
  border: 3px solid red;
  margin-bottom: 20px;
}
div.b {
  position: absolute;

  left: auto;
  width: 100%;
  height: 100%;
  bottom: 0;
}
div.c {
  position: absolute;
  left: 430px;
  right: auto;
  width: 100%;
  height: 100%;
  bottom: 0px;
  border: 3px solid green;
  overflow: auto;
}
div.d {
  position: absolute;
  left: auto;
  right: -850px;
  width: 100%;
  height: 100%;
  bottom: 0px;
  border: 3px solid blue;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Scope One", sans-serif;
  font-weight: 400;
  line-height: 1.5;
  font-size: 16px;
  color: var(--dark);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 500;
  margin: 5px 0;
  line-height: 1.25;
}

h1 {
  font-family: "Montserrat", serif;
  font-size: 3rem;
}

h2 {
  font-family: "Yantramanav", sans-serif;
  font-size: 2rem;
}

h3 {
  font-family: "Montserrat", sans-serif;
  font-size: 1.75rem;
}

h4 {
  font-family: "Montserrat", sans-serif;
  font-size: 1.5rem;
}

h6 {
  font-family: "Scope One", sans-serif;
  font-size: 1rem;
}

p {
  font-size: 1.1rem;
  margin-top: 0;
}

a {
  color: var(--primary);
  text-decoration: none;
  font-weight: bold;
}

a:hover {
  text-decoration: underline;
  color: var(--tertiary);
}

header {
  background: var(--light);
}

header a {
  color: var(--dark);
}

ul {
  list-style-type: none;
}
div.aboutdiv {
  margin-top: 50px;
  margin-left: 50px;
  margin-right: 50px;
  margin-bottom: 50px;
}
button {
  text-decoration: none;
  padding: 0.25rem 1rem;
  border: none;
  outline: none;
  cursor: pointer;
  margin: 0 1px;
  font-family: "Scope One", sans-serif;
}
div.buttondiv {
  margin-bottom: 20px;
  font-size: 1.3rem;
  font-weight: bold;
}

button[disabled] {
  cursor: default;
  opacity: 0.8;
}

img {
  max-width: 100%;
}

span[role="img"] {
  cursor: default;
}

form {
  width: 40%;
}

input {
  font-size: 1rem;
  padding: 0.25rem;
  border: 1px solid var(--dark);
  outline: none;
  border-radius: 3px;
  transition: box-shadow 0.2s;
}

input:focus {
  border: 1px solid var(--secondary);
  box-shadow: 0 0 0.25rem rgba(0, 0, 0, 0.5);
}

.container {
  width: 85%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.flex-row {
  display: flex;
  flex-wrap: wrap;
}

.space-between {
  justify-content: space-between;
}

.flex-end {
  justify-content: flex-end;
}

.mx-1 {
  margin-right: var(--spacing-one);
  margin-left: var(--spacing-one);
}

.mx-2 {
  margin-right: var(--spacing-two);
  margin-left: var(--spacing-two);
}

.my-1 {
  margin-top: var(--spacing-one);
  margin-bottom: var(--spacing-one);
}

.my-2 {
  margin-top: var(--spacing-two);
  margin-bottom: var(--spacing-two);
}

.px-1 {
  padding-right: var(--spacing-one);
  padding-left: var(--spacing-one);
}

.px-2 {
  padding-right: var(--spacing-two);
  padding-left: var(--spacing-two);
}

.py-1 {
  padding-top: var(--spacing-one);
  padding-bottom: var(--spacing-one);
}

.py-2 {
  padding-top: var(--spacing-two);
  padding-bottom: var(--spacing-two);
}

.card {
  width: 25%;
  text-align: center;
}

.error-text {
  color: var(--error);
}

.cell {
  border: #f3a847 3px solid;
}

.menu-list {
  display: flex;
  flex-direction: column;
  margin: 20px 0;
}

.menu-title {
  text-align: center;
  font-size: 50px;
  margin: 20px 0;
}

.menu-types {
  display: flex;
  flex-direction: row;
  justify-content: center;
  border-bottom: var(--dark) solid 2px;
}

.menu-btn {
  background-color: transparent;
  color: var(--medium);
  font-size: 20px;
  padding-bottom: 20px;
}

.menu-btn:hover {
  opacity: 0.8;
  border-bottom: var(--primary) solid 2.25px;
}

.meal-name {
  font-weight: bold;
}

.cart-btn,
.submit-btn {
  background-color: var(--tertiary);
  color: var(--light);
}

.cart-btn:hover,
.submit-btn:hover {
  background-color: var(--secondary);
  /* color: var(--dark); */
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.25);
}

@media screen and (max-width: 768px) {
  .card {
    width: 100%;
  }

  .menu-types {
    flex-direction: column;
  }

  .menu-title {
    font-size: 38px;
  }
}
button.b1 {
  background-color: D7E3EF;
  color: var(--dark);
  border: none;
  padding: 0.25rem 1rem;
  border-radius: 3px;
  font-size: 1.25rem;
  font-family: "Scope One", sans-serif;

  outline: none;
  cursor: pointer;
  transition: box-shadow 0.2s;
}
